<h2>New Celebrity Page</h2>

<form action="/celebrities/create" method = 'POST' style = 'display: flex; flex-direction: column'>
    <label>Name: <input name ='name'/></label>
    <label>Occupation: <input name='occupation' /></label>
    <label>catchPhrase: <input name = 'catchPhrase'/></label>
    <button type = 'submit'>Submit</button>
</form>